@use 'base/variables' as v; 
@use 'base/mixins' as m;

.contenedor-anuncio{
    padding-bottom: 2rem;
    padding-top: 4rem;
    @include m.tablet{
        @include m.grid(4, 3rem);
    }  
}
.anuncio{
    //background-color:#e1e6e3;
    background-color: v.$blanco;
    //border: 1px solid #bfd6c7;
    border: 1px solid v.$marron;
    h3{
        color: v.$marron;
        padding-top: 2rem;
    }
}
.precio{
    font-size: 2rem;
    color: v.$agua;
    text-align: center;
    padding-top: 1rem;
}
.cuerpo-anuncio{
    padding-bottom: 2rem;
    padding-top: 2rem;
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
}
.contenido-anuncio{
    background-color: v.$blanco;
    color: v.$marron;
    padding-left: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.anuncio-izq{
    padding-bottom: 2rem;
    @include m.tablet{
        @include m.grid(2, 2rem);
        img{
            width: 100%;
        }
    }
}
.anuncio-der{
    h2{
        text-align: justify;
    }
    p{
        font-size: 3rem;
        color: v.$agua;
        padding-top: 1rem;
    }
}
.pics{
    border: 1px solid v.$negro;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / .5);
    div{
        display: block;
        max-width: 100rem;
    }
}
.boton-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: v.$blanco;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    &:hover{
        cursor: pointer;
    }
}