@use 'base/variables' as v;
@use 'base/mixins' as m;
.header {
    display: flex;
    justify-content: center;
    background-color: v.$blanco;
    @include m.tablet {
        &.fijo{
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }
}
.logotipo{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
    height: auto;
    @include m.tablet{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 13%;
        height: auto;
    }
}
.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
        justify-content: center;
    } 
}
.navegacion{
    display: none;
    @include m.tablet{
        display: flex;
        align-items: center;
        gap: 2rem;
    } 
    
    a{
        font-family: v.$fuente_principal;
        font-size: 2rem;
        color: v.$marron;

        &:hover {
            color: v.$agua;
        }
    }
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 25%;
        height: auto;
    }
}
.mobile-menu{
    @include m.tablet{
        display: none;
    }
}
.mostrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
    }
}