@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    padding: .5rem;
    text-align: center;
    color: v.$blanco;
    margin: 1rem;
    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}